# Using sklearn

In [5]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [6]:
data=pd.read_csv("C:/Users/Administrator/Downloads/iris.csv",index_col=0)

In [7]:
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [9]:
enc= OneHotEncoder()
enc_df=pd.DataFrame(enc.fit_transform(data[['Species']]).toarray())

In [10]:
data_final=data.iloc[:,0:4].join(enc_df)

In [11]:
data_final

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    0    1    2
1             5.1          3.5           1.4          0.2  1.0  0.0  0.0
2             4.9          3.0           1.4          0.2  1.0  0.0  0.0
3             4.7          3.2           1.3          0.2  1.0  0.0  0.0
4             4.6          3.1           1.5          0.2  1.0  0.0  0.0
5             5.0          3.6           1.4          0.2  1.0  0.0  0.0
..            ...          ...           ...          ...  ...  ...  ...
146           6.7          3.0           5.2          2.3  0.0  0.0  1.0
147           6.3          2.5           5.0          1.9  0.0  0.0  1.0
148           6.5          3.0           5.2          2.0  0.0  0.0  1.0
149           6.2          3.4           5.4          2.3  0.0  0.0  1.0
150           5.9          3.0           5.1          1.8  NaN  NaN  NaN

[150 rows x 7 columns]

## Using Pandas

In [12]:
data_encoded=pd.get_dummies(data)

In [14]:
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,5.9,3.0,5.1,1.8,0,0,1