In [1]:
import pandas as pd

In [3]:
movies_df=pd.read_csv('Movie (1).csv')
movies_df

      userId             movie  rating
0          3  Toy Story (1995)     4.0
1          6  Toy Story (1995)     5.0
2          8  Toy Story (1995)     4.0
3         10  Toy Story (1995)     4.0
4         11  Toy Story (1995)     4.5
...      ...               ...     ...
8987    7087  GoldenEye (1995)     3.0
8988    7088  GoldenEye (1995)     1.0
8989    7105  GoldenEye (1995)     2.0
8990    7113  GoldenEye (1995)     3.0
8991    7117  GoldenEye (1995)     3.0

[8992 rows x 3 columns]

In [6]:
len(movies_df.userId.unique())

4081

In [7]:
len(movies_df.movie.unique())

10

In [8]:
user_movie_df=movies_df.pivot(index='userId',columns='movie')
user_movie_df

                                   rating                   \
movie  Father of the Bride Part II (1995) GoldenEye (1995)
userId
1                                     NaN              NaN
2                                     NaN              NaN
3                                     NaN              NaN
4                                     NaN              4.0
5                                     NaN              NaN
...                                   ...              ...
7115                                  4.0              NaN
7116                                  3.5              NaN
7117                                  NaN              3.0
7119                                  NaN              NaN
7120                                  NaN              NaN

                                                                          \
movie  Grumpier Old Men (1995) Heat (1995) Jumanji (1995) Sabrina (1995)
userId
1                          NaN         NaN            3.5            NaN
2                          4.0         NaN            NaN            NaN
3                          NaN         NaN            NaN            NaN
4                          NaN         3.0            NaN            NaN
5                          NaN         NaN            3.0            NaN
...                        ...         ...            ...            ...
7115                       NaN         NaN            NaN            NaN
7116                       NaN         NaN            NaN            NaN
7117                       4.0         5.0            NaN            3.0
7119                       NaN         NaN            NaN            NaN
7120                       NaN         NaN            4.0            4.0

                                                                 \
movie  Sudden Death (1995) Tom and Huck (1995) Toy Story (1995)
userId
1                      NaN                 NaN              NaN
2                      NaN                 NaN              NaN
3                      NaN                 NaN              4.0
4                      NaN                 NaN              NaN
5                      NaN                 NaN              NaN
...                    ...                 ...              ...
7115                   NaN                 NaN              NaN
7116                   NaN                 NaN              4.0
7117                   1.0                 NaN              4.0
7119                   NaN                 NaN              5.0
7120                   NaN                 NaN              4.5


movie  Waiting to Exhale (1995)
userId
1                           NaN
2                           NaN
3                           NaN
4                           NaN
5                           NaN
...                         ...
7115                        NaN
7116                        NaN
7117                        NaN
7119                        NaN
7120                        NaN

[4081 rows x 10 columns]

In [11]:
user_movie_df.index = movies_df.userId.unique()
user_movie_df

                                  rating                   \
movie Father of the Bride Part II (1995) GoldenEye (1995)
3                                    NaN              NaN
6                                    NaN              NaN
8                                    NaN              NaN
10                                   NaN              4.0
11                                   NaN              NaN
...                                  ...              ...
7044                                 4.0              NaN
7070                                 3.5              NaN
7080                                 NaN              3.0
7087                                 NaN              NaN
7105                                 NaN              NaN

                                                                         \
movie Grumpier Old Men (1995) Heat (1995) Jumanji (1995) Sabrina (1995)
3                         NaN         NaN            3.5            NaN
6                         4.0         NaN            NaN            NaN
8                         NaN         NaN            NaN            NaN
10                        NaN         3.0            NaN            NaN
11                        NaN         NaN            3.0            NaN
...                       ...         ...            ...            ...
7044                      NaN         NaN            NaN            NaN
7070                      NaN         NaN            NaN            NaN
7080                      4.0         5.0            NaN            3.0
7087                      NaN         NaN            NaN            NaN
7105                      NaN         NaN            4.0            4.0

                                                                \
movie Sudden Death (1995) Tom and Huck (1995) Toy Story (1995)
3                     NaN                 NaN              NaN
6                     NaN                 NaN              NaN
8                     NaN                 NaN              4.0
10                    NaN                 NaN              NaN
11                    NaN                 NaN              NaN
...                   ...                 ...              ...
7044                  NaN                 NaN              NaN
7070                  NaN                 NaN              4.0
7080                  1.0                 NaN              4.0
7087                  NaN                 NaN              5.0
7105                  NaN                 NaN              4.5


movie Waiting to Exhale (1995)
3                          NaN
6                          NaN
8                          NaN
10                         NaN
11                         NaN
...                        ...
7044                       NaN
7070                       NaN
7080                       NaN
7087                       NaN
7105                       NaN

[4081 rows x 10 columns]

In [17]:
user_movie_df=user_movie_df.fillna(0)

In [18]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine,correlation

In [26]:
similarites_movies=1-pairwise_distances(user_movie_df.values,metric='cosine')
similarites_movies_df=pd.DataFrame(similarites_movies)
similarites_movies_df

,0,1,2,3,4,5,6,7,8,9,...,4071,4072,4073,4074,4075,4076,4077,4078,4079,4080
0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.553372
1,0.000000,1.000000,0.000000,0.000000,0.000000,0.390567,0.707107,0.615457,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.458831,0.000000,0.000000
2,0.000000,0.000000,1.000000,0.000000,0.000000,0.650945,0.000000,0.492366,1.000000,0.874157,...,0.000000,1.000000,0.000000,0.707107,0.000000,0.000000,0.752577,0.458831,1.000000,0.622543
3,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.615457,0.000000,0.388514,...,0.800000,0.000000,0.000000,0.000000,0.989949,0.000000,0.000000,0.619422,0.000000,0.000000
4,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.553372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4076,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.658505,0.000000,0.000000,0.000000
4077,0.000000,0.000000,0.752577,0.000000,0.000000,0.489886,0.000000,0.370543,0.752577,0.657870,...,0.000000,0.752577,0.000000,0.532152,0.000000,0.658505,1.000000,0.345306,0.752577,0.468511
4078,0.000000,0.458831,0.458831,0.619422,0.000000,0.701884,0.567775,0.889532,0.458831,0.568212,...,0.344124,0.458831,0.000000,0.324443,0.648886,0.000000,0.345306,1.000000,0.458831,0.476071
4079,0.000000,0.000000,1.000000,0.000000,0.000000,0.650945,0.000000,0.492366,1.000000,0.874157,...,0.000000,1.000000,0.000000,0.707107,0.000000,0.000000,0.752577,0.458831,1.000000,0.622543
4080,0.553372,0.000000,0.622543,0.000000,0.553372,0.765455,0.391293,0.306519,0.622543,0.544201,...,0.000000,0.622543,0.553372,0.831497,0.000000,0.000000,0.468511,0.476071,0.622543,1.000000

In [31]:
similarites_movies_df.index=movies_df.userId.unique()
similarites_movies_df.columns=movies_df.userId.unique()
similarites_movies_df.iloc[0:5, 0:5]

     3    6    8    10   11
3   1.0  0.0  0.0  0.0  1.0
6   0.0  1.0  0.0  0.0  0.0
8   0.0  0.0  1.0  0.0  0.0
10  0.0  0.0  0.0  1.0  0.0
11  1.0  0.0  0.0  0.0  1.0

In [32]:
similarites_movies_df.idxmax(axis=1)[0:5]

3      3
6      6
8      8
10    10
11     3
dtype: int64